# basicauth identifiers for Caddy reverse-proxy
SVM_USERNAME=<username>
# generated using the command `caddy hash-password --plaintext <password>` cf. https://caddyserver.com/docs/caddyfile/directives/basicauth#basicauth
SVM_PASSWORD=<base64 hash password>
