[Unit]
Description=LinuxGSM CSGO Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=csgoserver
WorkingDirectory=/home/csgoserver
RemainAfterExit=yes   #Assume that the service is running after main process exits with code 0
ExecStart=/home/csgoserver/csgoserver start
ExecStop=/home/csgoserver/csgoserver stop
Restart=no

[Install]
WantedBy=multi-user.target
